* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *:focus {
    outline: 0;
  }
  
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    background-color: #f2f2f2;
    font-family: "Roboto", Arial;
  }
  
  .wrap {
    background-color: #ffffff;
    box-shadow: 0 0 3px #808080;
    margin: auto;
    max-width: 500px;
    padding: 40px;
    width: 90%;
  }
  
  .contendor-formulario {
    color: #f2f2f2;
    padding: 50px;
    width: 100%;
  }
  .contendor-formulario .formulario {
    margin: auto;
    width: 100%;
  }
  .contendor-formulario .formulario .input-group {
    margin-bottom: 32px;
    position: relative;
  }
  .contendor-formulario .formulario .input-group input[type="text"],
  .contendor-formulario .formulario .input-group input[type="email"],
  .contendor-formulario .formulario .input-group input[type="password"] {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom: 2px solid #bbdefb;
    color: #303f9f;
    font-family: "Roboto", Arial;
    font-size: 1em;
    outline: 0;
    padding: 15px;
    width: 100%;
  }
  .contendor-formulario .formulario .input-group input[type="text"]:focus, .contendor-formulario .formulario .input-group input[type="text"]:active,
  .contendor-formulario .formulario .input-group input[type="email"]:focus,
  .contendor-formulario .formulario .input-group input[type="email"]:active,
  .contendor-formulario .formulario .input-group input[type="password"]:focus,
  .contendor-formulario .formulario .input-group input[type="password"]:active {
    border-bottom: 2px solid #303f9f;
    outline: 0;
  }
  .contendor-formulario .formulario .input-group input[type="text"].error,
  .contendor-formulario .formulario .input-group input[type="email"].error,
  .contendor-formulario .formulario .input-group input[type="password"].error {
    border-bottom-color: #d32f2f;
  }
  .contendor-formulario .formulario .input-group input[type="text"].error + label,
  .contendor-formulario .formulario .input-group input[type="email"].error + label,
  .contendor-formulario .formulario .input-group input[type="password"].error + label {
    color: #d32f2f;
  }
  .contendor-formulario .formulario .input-group label {
    color: #303f9f;
  }
  .contendor-formulario .formulario .input-group label.label {
    font-size: 1em;
    left: 0;
    line-height: 1em;
    margin-left: 1em;
    position: absolute;
    top: 1em;
    transition: 0.3s ease all;
  }
  .contendor-formulario .formulario .input-group label.label.active {
    color: #b6b6b6;
    font-size: 12px;
    top: -12px;
  }
  .contendor-formulario .formulario .input-group.checkbox label, .contendor-formulario .formulario .input-group.radio label {
    border-radius: 3px;
    color: #303f9f;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 5px 15px 5px 51px;
    position: relative;
    transition: 0.3s ease all;
  }
  .contendor-formulario .formulario .input-group.checkbox label:hover, .contendor-formulario .formulario .input-group.radio label:hover {
    background-color: #bbdefb;
  }
  .contendor-formulario .formulario .input-group.checkbox label:before, .contendor-formulario .formulario .input-group.radio label:before {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 2px solid #303f9f;
    content: '';
    display: inline-block;
    height: 17px;
    left: 15px;
    position: absolute;
    width: 17px;
  }
  .contendor-formulario .formulario .input-group.error label {
    color: #d32f2f;
  }
  .contendor-formulario .formulario .input-group.error label:hover {
    background-color: rgba(211, 47, 47, 0.2);
  }
  .contendor-formulario .formulario .input-group.error label:before {
    border-color: #d32f2f;
  }
  .contendor-formulario .formulario .input-group.radio input[type="radio"] {
    display: none;
  }
  .contendor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
    display: none;
  }
  .contendor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
    background-color: #303f9f;
    border-radius: 2px;
    color: #f2f2f2;
    padding: 5px 15px;
  }
  .contendor-formulario .formulario .input-group.checkbox label:before {
    border-radius: 3px;
  }
  .contendor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
    display: none;
  }
  .contendor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
    display: none;
  }
  .contendor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
    background-color: #303f9f;
    color: #f2f2f2;
    padding: 5px 15px;
  }
  .contendor-formulario .formulario input[type="submit"] {
    background-color: #303f9f;
    border-radius: 1px;
    border: 2px solid #f2f2f2;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font: normal 16px "Roboto", Arial;
    padding: 15px;
    transition: 0.3s ease all;
    width: 100%;
  }
  .contendor-formulario .formulario input[type="submit"]:hover {
    background-color: #1976d2;
  }

  body section{
    height: 50px;
    width: 100%;
    background-color: #1976d2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
  }